$white: #fff;


$black: #000;
$footerBlack:#272727;


$backgroundGray:#F8F8F8;
$lightGray:#747474;
$fontGray:#333;


$mainBlue:#3CCACD;
$blue:#0199E8;
$lightBlue:#84C5F2;
$facebookBlue:#385184;


$lightRed:#F37770;
$red:#E61F16;

$itemgray:rgb(255, 255, 255);
$bordergray:rgb(207, 206, 206);

$itemTableBorderGray:#dedede;
$itemTableBackground-Border:#eee;
