.left-mypage
  %p.blue
    マイページ
  =link_to new_item_path do
    %p
      出品する
  =link_to saling_show_items_path do
    %p
      出品した商品-出品中
  %p
    出品した商品-取引中
  %p
    購入した商品-取引中
  =link_to saled_show_items_path do
    %p
      購入した商品-過去の取引
  %p
    いいね！一覧
  %p.blue
    設定
  =link_to user_path(current_user.id) do
    %p
      プロフィール
  = link_to cards_path, method: :get do
    %p
      支払い方法
  =link_to edit_user_path(current_user.id) do
    %p
      プロフィール編集
  =link_to edit_address_path(current_user.id) do
    %p
      住所編集
  =link_to before_logout_users_path do
    %p
      ログアウト