.appBanner {
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  background-size: cover;
  background-position: center;
  margin-top: 110px;
    &__inner {
      color: $white;
      text-align: center;
      &--title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &--text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &--icon {
        margin: 20px auto 0;
      }
    }
}