.purchaseBtn {
  color: $white;
  width: 120px;
  background: $mainBlue;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: relative;
  position: fixed;
  padding: 15px;
  overflow: hidden;
	z-index: 1 !important;
  &__text {
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }

  &__icon {
    width: 100%;
  }
}
.purchaseBtn:hover {
  color: $mainBlue;
}
.purchaseBtn::after {
  content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background-color:$white;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}
.purchaseBtn:hover::after {
  height: 250%;
	opacity: 1;
}
.purchaseBtn:active::after {
  height: 350%;
	opacity: 1;
}
.fas.fa-camera.fa-spin {
  font-size: 54px;
}