.mypage_wrapper{
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  .cards_index{
    background: $white;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    width: 700px;
    height: 400px;
    font-weight: 600;
    padding-top: 20px;
    margin: 55px 40px 0 260px;

    .card_info{
      height: 50px;
      border-bottom: 2px solid $backgroundGray;
      line-height: 50px;
      font-size: 24px;
      text-align: center;
      
    }
    .card_list{
      position: relative;
      height: 350px;
      .card_list_jp{
        position: absolute;
        top: 20%;
        left: 25%;
        height: 25px;
        width: 200px;
      }
      .card_btn{
        position: absolute;
        top: 33%;
        left: 25%;
        height: 50px;
        width: 300px;
        background-color: $red;
        color: $white;
        line-height: 50px;
        text-align: center;
        cursor:pointer;
        font-weight: 50;
        display: flex;
        .card_btn_icon{
          height: 50px;
          width: 60px;
        }
        .card_btn_jp{
          font-size: 14px;
          font-weight: 50;
        }
      }
      .card_line{
        position: absolute;
        top: 60%;
        right: 10%;
        background-color: $backgroundGray;
        width: 550px;
        height: 1px;
      }
      .card_pay_info{
        width: 150px;
        height: 20px;
        color: $blue;
        font-size: 14px;
        position: absolute;
        top: 75%;
        right: 5%;
        display: flex;
        justify-content: space-between;
        cursor:pointer;
        .card_pay_icon{
          line-height: 20px;
          
       }
      }
    }
  }
  }


