.contents{
  display: flex;
  justify-content: space-between;
  padding: 40px 230px 0;
  background-color:$backgroundGray;
  .card_contents{
    width: 700px;
    height: 318px;
    background-color:$white;
    margin-bottom: 40px; 
  .content__title{
    height: 50px;
    border-bottom: 2px solid $backgroundGray;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    &__text{
      font-weight: 600;
    }
  }
  .content__credit-cards{
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin: 80px 150px 0 0;
    font-weight: 300;
    &__text{
      font-weight: 600;
    }
    .content__credit-cards__list{
      margin: 20px 35px 0 0;
      &__list{
        font-weight: 600;
      }
      .content__credit-cards__list--pay-num1{
        margin: 10px;
        &__list--pay-num1{
          font-weight: 600;
        }
      }
      .content__credit-cards__list--pay-num2{
        margin-right: 70px;
        &__list--pay-num2{
          font-weight: 600;
        }
      }
      .content__credit-cards__list__remove{
        padding: 4px 6px;
        background: $white;
        border-radius: 3px;
        border: 1px solid $red;
        color: $red;
        font-size: 14px;
        position: absolute;
        right: 30%;
        top: 42%;
        cursor: pointer;
        &__list__remove{
          font-weight: 300;
        }
      } 
    }
  }
  .under_contents{
    border-top: 2px solid $backgroundGray;
    width: 500px;
    height: 100px;
    margin: 20px auto;
    position: relative;
    display: flex;
    .under_contents__text{
      position: absolute;
      top: 30%;
      left: 70%;
      color: $blue;
      font-size: 14px;
      &__text{
        color: $blue;
        font-size: 14px;
      }
    }
    .under_contents_icon{
      position: absolute;
      top: 28%;
      right: 1%;
      color: $blue;
      font-size: 20px;
    }
  }
}
}