.mypage_pro{
  width: 700px;
  height: 200px;
  padding-top: 20px;
  margin: 55px 40px 0 260px;
  background:$white;
  position: relative;
  color: $white;
  .logout_btn{
    position: absolute;
    top: 65px;
    left: 27%;
    width: 320px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: $red;
  }
}