.mypage_wrapper{
  background-color: $white;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  position: relative;
  display: flex;
  .contents1 {
    background-color: #f5f5f5;
    height: 1000px;
    display: flex;
    width: 280px;
    color: $fontGray;
    .mypage_nav {
      width: 280px;
      margin: 40px auto 0;
      padding-top: 15px;
      position: absolute;
      left: 15%;
      .mypage_nav_item1 {
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:#eee;
        font-size: 14px;
        font-weight: 600;
        cursor:pointer;
      }
        .mypage_nav_item2 {
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
        }
        .mypage_nav_item3{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_item4 {
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_item5{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color:$fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_item6{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color:$fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_item7{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color:$fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .box1{
        position: relative;
        display: block;
        min-height: 32px;
        padding: 16px;
        background: #f5f5f5;
        font-size: 16px;
        color:$black;
        font-weight: 600;
      }
      .mypage_nav_set1{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color:$fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_set2{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_set3{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_set4{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_set5{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color:$fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_set6{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
      .mypage_nav_set7{
        position: relative;
        display: block;
        min-height: 27px;
        padding: 16px;
        background:$itemgray;
        font-size: 14px;
        color: $fontGray;
        border-bottom: 1px solid $bordergray;
        font-weight: 300;
        cursor:pointer;
      }
  }
}
  .contents2{
    background-color: #f5f5f5;
    display: flex;
    width: 700px;
    padding-top: 15px;
    margin: 40px auto ;

    .mypage_pro {
    width: 350px;
    color:$white;
    text-shadow: none;
    margin: 0 40px 0 0;
    position: absolute;
    right: 35%;

      .pro_ground{
        position: relative;
        background-image: image-url("pict/IMG_1843-768x576.jpg");
        width: 700px;
        height: 225px;
        background-size: cover;
        .user-icon{
          width: 70px;
          height: 70px;
          background-image: image-url("pict/16_2_302.png");
          background-size:contain;
          display: block;
          position: absolute;
          top: 20%; 
          left: 45%;
          cursor:pointer;
        }
        .user_name {
          width: 100px;
          height: 30px;
          display: block;
          position: absolute;
          top: 54%; 
          left: 43%;
          text-align: center;
          line-height: 25px;
          color: $fontGray;
          cursor:pointer;
        }
        .user_evaluation{
          width: 80px;
          height: 30px;
          display: block;
          position: absolute;
          top: 72%; 
          left: 38%;
          text-align: center;
          line-height: 30px;
          color: $fontGray;
          cursor:pointer;

        }
        .user_exhibits{
          width: 80px;
          height: 30px;
          display: block;
          position: absolute;
          top: 72%; 
          right: 38%;
          text-align: center;
          line-height: 30px;
          color: $fontGray;
          cursor:pointer;
        }
    }
    .purchase_info{
      width: 700px;
      height: 80px;
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 80px;
      color: $fontGray;
      font-weight: 600;
    }
    .trading{
      width: 350px;
      height: 70px;
      position: absolute;
      text-align: center;
      line-height: 70px;
      color: $fontGray;
      background-color:rgb(255, 255, 255);
      border-top: 2px solid #ea352d;
      font-weight: 600;
      cursor:pointer;
      }
    .traded{
      width: 350px;
      height: 70px;
      position: absolute;
      left: 100%;
      text-align: center;
      line-height: 70px;
      color: $fontGray;
      background-color: #e6e4e4;
      font-weight: 600;
      cursor:pointer;
    }
    .confirmation{
      width: 700px;
      height: 435px;
      text-align: center;
      line-height: 70px;
      color:$fontGray;
      top: 62.7%;
      background-color:$itemgray;
      .confirmation_info{
      width:700px;
      height: 30px;
      position: absolute;
      top: 70%;
      line-height: 30px;
      color: #ccc;
      font-weight: 600;
      }
    }
    }
  }
}